*
!.gitignore
!.github
!.github/**
!.vscode
!.vscode/*
!Docs
!Docs/*.md
!en-US
!en-US/*.xml
!Examples
!Examples/Graphics
!Examples/Graphics/*.gif
!icons
!icons/*.png
!Private
!Private/*.ps1
!Public
!Public/*.ps1
!Tests
!Tests/*.Tests.ps1
!Tests/*.txt
!README.md
!LICENSE
!IPv4Toolbox.psd1
!IPv4Toolbox.psm1
